<div ng-controller="cExpediente" class="completo" ng-init="init_expediente()">
    <div class="completo">
        <div class="ochenta">
            <table class="table table-hover table-striped table-responsive col-md-12" id="elem-bienvenida">
                <thead>
                    <tr class="cab-gris">
                        <th class="col-md-6">Campo &nbsp; &nbsp;
                            <span class="asterisco">*</span>requerido
                        </th>
                        <th class="col-md-6">Datos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-6">CURP
                            <span class="asterisco espacio">*</span>
                        </td>
                        <td class="col-md-6">
                            <input id="curp" type="text" class="form-control {{error_curp}}" ng-model="curp" placeholder="Ingrese curp" maxlength="18"
                                capitalize ng-blur="valida_campo('curp', curp)" ng-change="borraErrores()">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Primer apellido
                            <span class="asterisco espacio">*</span>
                        </td>
                        <td class="col-md-6">
                            <input id="apprimero" type="text" class="form-control {{error_apprimero}}" ng-model="apprimero" placeholder="Ingrese primer apellido"
                                maxlength="50" solo-letras capitalize ng-change="borraErrores()">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Segundo apellido</td>
                        <td class="col-md-6">
                            <input type="text" class="form-control" ng-model="apsegundo" placeholder="Ingrese segundo apellido" maxlength="50" capitalize
                                solo-letras ng-change="borraErrores()">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Nombre
                            <span class="asterisco espacio">*</span>
                        </td>
                        <td class="col-md-6">
                            <input type="text" class="form-control {{error_nombre}}" ng-model="nombre" placeholder="Ingrese nombre" maxlength="50" capitalize
                                solo-letras ng-change="borraErrores()">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Fecha nacimiento
                            <span class="asterisco espacio">*</span>
                        </td>
                        <td class="col-md-6">
                            <input type="date" class="form-control {{error_fecnac}}" ng-model="fecnac" ng-change="borraErrores()">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Sexo
                            <span class="asterisco espacio">*</span>
                        </td>
                        <td class="col-md-6 {{error_sexo}}">
                            <input type="radio" ng-model="sexo" value="1" class="espacio" ng-change="borraErrores()">&nbsp;Hombre&nbsp;&nbsp;
                            <input type="radio" ng-model="sexo" value="2" class="espacio" ng-change="borraErrores()">&nbsp;Mujer
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Nacionalidad
                            <span class="asterisco espacio">*</span>
                        </td>
                        <td class="col-md-6">
                            <select class="form-control {{error_nacionalidad}}" ng-model="nacionalidad" ng-options="nac.id as nac.nombre for nac in nacionalidades"
                                ng-change="nac_cambio(nacionalidad)">
                                <option class="no-option" value="">-- Seleccione --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Estado de nacimiento
                            <span class="asterisco espacio">*</span>
                        </td>
                        <td class="col-md-6">
                            <select class="form-control {{error_estado_nacimiento}}" ng-model="estado_nacimiento" ng-options="estado.id_estado as estado.nombre_estado for estado in estados"
                                ng-disabled="dis_est_nac" ng-change="borraErrores()">
                                <option class="no-option" value="">-- Seleccione --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Estado de residencia
                            <span class="asterisco espacio">*</span>
                        </td>
                        <td class="col-md-6">
                            <select class="form-control {{error_estado_residencia}}" ng-model="estado_residencia" ng-options="estado.id_estado as estado.nombre_estado for estado in estados"
                                ng-change="filtra_municipio(estado_residencia)">
                                <option class="no-option" value="">-- Seleccione --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Municipio
                            <span class="asterisco espacio">*</span>
                        </td>
                        <td class="col-md-6">
                            <select class="form-control {{error_municipio}}" ng-model="municipio" ng-options="muni.id_municipio as muni.nombre_municipio for muni in municipios"
                                ng-change="filtraLocalidad(municipio)" ng-disabled="dis_municipio">
                                <option class="no-option" value="">-- Seleccione --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Localidad
                            <span class="asterisco espacio">*</span>
                        </td>
                        <td class="col-md-6">
                            <select class="form-control {{error_localidad}}" ng-model="localidad" ng-options="local.id_localidad as local.nombre_localidad for local in localidades"
                                ng-disabled="dis_Localidades">
                                <option class="no-option" value="">-- Seleccione --</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-2 der">
            <button type="button" class="btn btn-default alert-info" ng-click="guardarRegistro()">Guardar</button>
        </div>
    </div>
</div>