<div class="ochenta" ng-controller="cExpediente">
    <table class="table table-hover table-striped table-responsive col-md-12" id="elem-bienvenida">
        <thead>
            <tr class="cab-gris">
                <th class="col-md-6">Campo</th>
                <th class="col-md-6">Datos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-6">CURP</td>
                <td class="col-md-6">
                    <input type="text" class="form-control" ng-model="curp" placeholder="Ingrese curp" maxlength="18" capitalize>
                </td>
            </tr>
            <tr>
                <td class="col-md-6">Primer apellido</td>
                <td class="col-md-6">
                    <input type="text" class="form-control" ng-model="apprimero" placeholder="Ingrese primer apellido" maxlength="50" capitalize>
                </td>
            </tr>
            <tr>
                <td class="col-md-6">Segundo apellido</td>
                <td class="col-md-6">
                    <input type="text" class="form-control" ng-model="apsegundo" placeholder="Ingrese segundo apellido" maxlength="50" capitalize>
                </td>
            </tr>
            <tr>
                <td class="col-md-6">Nombre</td>
                <td class="col-md-6">
                    <input type="text" class="form-control" ng-model="nombre" placeholder="Ingrese nombre" maxlength="50" capitalize>
                </td>
            </tr>
            <tr>
                <td class="col-md-6">Fecha nacimiento</td>
                <td class="col-md-6">
                    <input type="date" class="form-control" ng-model="fecnac">
                </td>
            </tr>
            <tr>
                <td class="col-md-6">Sexo</td>
                <td class="col-md-6">
                    <input type="radio" ng-model="sexo" value="1" class="espacio">&nbsp;Hombre&nbsp;&nbsp;
                    <input type="radio" ng-model="sexo" value="2" class="espacio">&nbsp;Mujer
                </td>
            </tr>
            <tr>
                <td class="col-md-6">Estado de nacimiento</td>
                <td class="col-md-6">
                    <select class="form-control" ng-model="estado_nacimiento" ng-options="estado.id as estado.nombre for estado in estados">
                        <option class="no-option" value="">-- SELECT --</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>