<div class="ochenta" ng-controller="cExpediente">
    <table class="table table-hover table-striped table-responsive margen-top" id="elem-bienvenida">
        <thead>
            <tr class="cab-gris">
                <th class="centrado col-md-2">Campo</th>
                <th class="centrado col-md-2">Datos</th>
            </tr>
        </thead>
        <tbody>
            <!--tr ng-repeat="welcome in bienvenida">
                <td class="centrado col-md-2" as-sortable-item-handle>{{welcome.nombre}}</td>
                <td class="centrado col-md-2" as-sortable-item-handle>{{welcome.titulo}}</td>
            </tr-->
            <tr>
                <td>
                    campo
                </td>
                <td>
                    campo 2
                </td>
            </tr>
        </tbody>
    </table>
</div>