.completo{
    width: 100%;
    height: 100%;
}

.izq{
    float: left;
}

.der{
    float: right;
}

.activo{
    font-weight: bold;
    font-size: 16pt;
    text-decoration: underline;
    color: white;
}

.inactivo{
    font-weight: normal;
    font-size: 14pt;
    text-decoration: none;
    color: grey;
}

.cont-secc{
    box-sizing: border-box;
    top: 15%;
    position: fixed;
    height: 80%;
    width: 100%;
    overflow: auto;
    z-index: -1;
    margin-top: 1%;
}

.ochenta{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.cab-gris{
    box-sizing: border-box;
    font-family: Verdana, regular !important;
    background-color: #e2e2e2 !important;
    vertical-align: inherit !important;
    text-align: center;
}

.no-option{
    display: none;
}

.espacio{
    box-sizing: border-box;
    padding-right: 5px;
}

.cursor{
    cursor: pointer;
}

.alertas-div{
    height: 50px;
    width: 70%;
    position: fixed;
    z-index: 99999999;
    margin: 0 15% 0 15%;
}

.error{
    border: 1px solid red;
}

.asterisco{
    color: red;
}